*::selection{
    background-color: #0000ff;
    color: #f5f5f5;
}

body{
    margin: 0;
    padding: 0;
    /* height: 100vh;
    width: 100%; */
}

.page{
    height: 100vh;
    width: 100%;
    background-image: url("../../images/Flag.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(211, 202, 202);
    width: 30rem;
    height: 20rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input{
    height: 30px;
    width: 40vh;
    text-align: center;
    border: 2px transparent;
    border-bottom: 2px solid blue;
    border-radius: 5px;
    font-size: large;
    font-family: monospace;
    font-weight: 600;
}

.container button{
    margin-top: 10px;
    height: 25pt;
    width: 25vh;
    border-radius: 50px;
    font-weight: 900;
    border: none;
}

.container button:hover{
    background-color: #4141f4;
    color: white;
}

.links_div{
    margin: 20px;
}

.links_div a{
    padding: 10px;
    color: black;
}

.links_div a:hover{
    color: #4141f4;
}